<div class="container col-md-6 offset-mid-3">
    <h3 class="text-center">{{isUpdateMode ? 'Modifier' : 'Ajouter'}} une catégorie</h3>
    <form (ngSubmit)="onSubmit()" #categoryForm="ngForm">
      <div class="form-group mb-3">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="category.description"
          name="description"
          required
          minlength="2"
          #description="ngModel"
        />
        <div class="alert alert-danger" *ngIf="description.invalid && (description.dirty || description.touched)">
          <div *ngIf="description.errors?.['required']">La description est requise</div>
          <div *ngIf="description.errors?.['minlength']">La description doit contenir au moins 2 caractères</div>
        </div>
      </div>
  
      <div class="mt-3">
        <button class="btn btn-success" type="submit" [disabled]="!categoryForm.form.valid">
          {{isUpdateMode ? 'Enregistrer' : 'Ajouter'}}
        </button>
        <button type="button" class="btn btn-secondary ms-2" (click)="onCancel()">
          Annuler
        </button>
      </div>
    </form>
  </div>